/* Telefones em paisagem e abaixo */
@media (max-width: 767px) { 
  .intro {
    padding: 30px 30px 0 30px;
  }
  .intro h1 {
    font-size: 1.8em;
    text-align: center;
    color: #fff;
  }
  .intro p {
    font-size: 1em;
  }
  .intro .btn {
    padding: 13px 30px;
    background: #fff !important;
    color: #333131 !important;
  }
  .menu-toggle {
    top: 37px;
    right: 30px;
  } 
  #pp-nav.right {
    display: none;
  }
  .intro {
    width: 100%;
    text-align: left;
    padding: 30px;
    text-align: center;
  }
  .fd {
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
    padding: 150px 0 60px 0 !important;
  }
  .btn {
    margin: 9px 0 !important;
  }
  .pp-tableCell {
    vertical-align: bottom;
  }
  /* .section::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
  } */
  .shadoww {
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: none;
  }
  .uv-header {
    top: 15px;
    left: 15px;
    width: 100px !important;
    height: 100px !important;
  }
  .logo-uv {
    width: 70px;
    display: none;
  }
  .logo-stay {
    width: 70px;
  }
  .container {
    max-width: 100% !important;
  }
  .footer-uv {
    position: absolute;
    z-index: 99;
    margin: 0 auto;
    bottom: 10px;
    font-weight: 300;
    text-align: center;
    width: 100% !important;
  }
  .footer-uv p {
    font-size: 12px !important;
  }
  .block__link {
    font-size: 18px;
    text-align: center;
  }
  .block {
    padding: 0 4rem 0;
    text-align: center;
    width: 100%;
  }
  .block:nth-child(2) {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .block__link {
    padding: 0.3rem 0;
  }
  .hover-reveal {
    display: none;
  }
}

/* Telefones em paisagem a tablet em retrato */
/* @media (max-width: 767px) {
  
} */

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}

/* Desktop grande */
@media (min-width: 1200px) {
 
}